@charset "utf-8";
/* CSS feuille de style index_resto_bilan  */
body {
    background: white/* #ecedef */;
    margin: 0 auto;
    width: 1024px;
    border: none;
    
}

header {
    width: 40%;
    height: 10%;
    border: none;
    margin-left: 30%;
    text-align: center;
}

header ul li {
    display: inline;
    text-align: center;
}


#conteneur {
    /* background: #ecedef; */
    height: 1000px;
    border: none;
}

.droite {
    float: right;
}

.gauche {
    float: left;
}

#clear {
    clear: both;
}
footer {
    width: 40%;
    height: 10%;
    border: none;
    margin-left: 30%;
    text-align: center;
    
}
.texte {
    display: inline;
    
}

.plate {
    text-align: right;
    float: right;
    margin-top: 7%;
    margin-right: 19%;
}

.h3 {
    border-bottom: 2px solid #3333;
}
.h4 {
    text-decoration: uderline;
}

.place {
    float: right;
    width: 45%;
    margin-top: 4%;  
}







