@charset "utf-8";
/* CSS feuille de style index_resto_bilan  */
body {
    background: white/* #ecedef */;
    margin: 0 auto;
    width: 1024px;
    border: none;
    
}

header {
    background: yellow;
    width: 100%;
    height: 10%;
    border: none;
}

#conteneur {
    /* background: #ecedef; */
    height: 2600px;
    border: none;
}

.droite {
    float: right;
}

.gauche {
    float: left;
}

#clear {
    clear: both;
}
footer {
    background: pink;
}
.texte {
    display: inline;
}





